{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block body %}
<div class="d-flex align-items-center justify-content-center conntaintest">
	<div class="contain-login ">
		<div class="row justify-content-center align-middle">
			<div class="col-md-12 col-lg-12 mb-12">
					<div class="heading text-quaternary heading-border heading-bottom-border my-4 pb-2">
                        <h4 class="text-light">
                            <i class="fa-solid fa-shield-halved"></i>
                            Connexion TWV</h4>
                    </div>
				<form id="frmSignIn" method="post" class="needs-validation">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<div class="row">
						<div class="form-group col">
							<label class="form-label text-color-dark text-3">Email address
								<span class="text-color-danger">*</span>
							</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg text-4" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col">
							<label class="form-label text-color-dark text-3">Password
								<span class="text-color-danger">*</span>
							</label>
							<input type="password" name="password" id="inputPassword" class="form-control form-control-lg text-4" required>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    
					<div class="row justify-content-between">

						<div class="form-group col-md-auto">
							<a class="text-decoration-none text-color-dark text-color-hover-primary btn btn-danger font-weight-semibold text-2" href="#"><i class="fa-solid fa-unlock-keyhole"></i> Mot de passe perdu?</a>
                            <button class="read-more text-color-dark font-weight-bold text-2 btn btn-primary align-middle"><i class="fa-solid fa-right-to-bracket"></i> CONNEXION</button>
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>
    </div>
{% endblock %}
